

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: green;
}



.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    border-bottom: 2px solid #f4f4f4;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}

.logo img {
    height: 110px;
}

/* Search Bar */
.search-container {
    flex-grow: 1;
    margin: 0 40px;
}

.search-bar {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 8px;
}

/* User Nav */
.user-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.nav-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}


.main-container {
    display: flex;
    padding: 20px 40px;
    gap: 20px;
}


.sidebar-nav {
    flex-basis: 220px;
}

.sidebar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    background-color: white;
    padding: 12px;
    margin-bottom: 15px;
    width: 85%;
    border-radius: 6px;
    border: 1px solid #eee;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-nav li:hover {
    background-color: green;
    color: white;
}

.sidebar-nav a {
    display: block;
    font-size: 18px;
    color: grey;
}


.product-listing {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: 220px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-info {
    font-size: 14px;
    color: grey;
    padding: 8px;
    border: 1px solid #ccc;
    width: 80%;
    border-radius: 5px;
    margin: 10px auto 15px;
}


.add-to-cart-btn {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid green;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: green;
    color: white;
}

