* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}

body {
    background: #f6f6f6;
}

/* Header */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  border-bottom: 2px solid white;
  box-shadow: 10px 10px whitesmoke;
}

.logo img {
  height: 110px;
  width: auto;
  display: block;
}

.user-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.nav-button:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
}

.user-nav a {
  margin-left: 25px;
  font-size: 16px;
  font-weight: bold;
}
/* Layout */
.container {
    display: flex;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    padding: 12px 0;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.sidebar .active {
    font-weight: bold;
    color: #333;
}

/* Reviews Section */
.review-section {
    flex: 1;
    margin-left: 30px;
}

.review-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Review Table */
.review-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
}

.review-table th {
    background: #eee;
    padding: 14px;
    font-size: 18px;
    border-bottom: 2px solid #ccc;
    text-align: left;
}

.review-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.review-table tr:last-child td {
    border-bottom: none;
}

/* Footer */
.site-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  background-color:darkgray;
  border-top: 2px solid #f0f0f0;
  margin-top: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-logo-social {
  display: flex;
  flex-direction: row;
}

.footer-column a {
  margin-bottom: 10px;
  color: #333232;
  text-decoration: none;
}

.footer-logo-social .logo {
  margin-bottom: 15px;
}

.social-icons a:hover {
  margin-right: 15px;
  display: inline-block;
  background-color: gray;
  transform: scale(1.05);
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  text-decoration: underline;

}

