
body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


.fp-page {
    width: 90%;
    max-width: 400px;
    padding: 40px 30px;
    margin-top: 40px;
    background: white;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}


.farmly-header {
    margin-bottom: 30px;
}

.logo-header {
    font-size: 3em;
}

.team-logo {
    display: block;
    max-width: 100px;
    margin: 0 auto 10px;
}


.fp-form {
    text-align: left;
}

.fpform-heading {
    text-align: center;
    font-size: 1.3em;
    color: #337ab7;
    margin-bottom: 25px;
}

.fp-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fp-field label {
    margin-right: 10px;
    white-space: nowrap;
}

.fp-field input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000;
}

.fpsubmit-button {
    width: 50%;
    padding: 10px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.button-container button{
    font-family: "Comic Sans MS", "Marker Felt", cursive;
    padding: 12px 30px;
    font-size: 18px;
    border: 2px solid #444;
    border-radius: 12px;
    background: white;
    cursor: pointer;
    transition: 0.3s ease;
}



.button-container button:hover {
    background: #757373;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.button-container a{
    text-decoration: none;
   
}

.fpsubmit-button:hover {
    background-color: #286090;}
    
.fpcancel-button {
    width: 50%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  
}



.logo img {
  height: 110px;
  width: auto;
  display: block;
}

.site-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    width: 100%;
    background-color: darkgray;
    margin-top: 50px;
    flex-wrap: wrap; 
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-logo-social {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-links a {
    margin-bottom: 10px;
    color: #333;
}

.footer-links a:hover {
    text-decoration: underline;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
}

.nav-button:hover {
    background: gray;
    padding: 5px 7px;
    border-radius: 10px;
    transform: scale(1.05);
}

.nav-icon {
    width: 22px;
}
