/* ========== HEADER ========== */
.logo img {
    height: 110px;
}

header {
    height: 70px;
    background: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ececec;
}

header .profile a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 15px;

}
.nav-button {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.profile-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.3s ease;
}
.profile img {
    width: 28px;
    height: 28px;
}

.profile-btn:hover {
    background-color: #f2f2f2;
    transform: scale(1.05);
    cursor: pointer;
}
