body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Header */
.main-header {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #f1f1f1;
}
.small-logo { width: 100px; margin-right: 10px; }
.main-header h2 {
  text-align: center;
  flex: 1;}

/* Main Layout */
.main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Products */
.products-box, .summary-box {
  border: 1px solid #000;
  padding: 15px;
}
.products-box { width: 55%; }
.summary-box { width: 30%; }

.product-item {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}
.product-icon { width: 50px; margin-right: 10px; }

.product-meta {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

/* Footer */
.site-footer {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 20px;
  margin-top: auto; /* pushes footer to bottom */
}
.footer-logo { width: 80px; }
.social-icon { width: 25px; margin-right: 10px; }
