body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header (same as cart) */
.main-header {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #f1f1f1;
}
.small-logo { width: 100px; margin-right: 10px; }

.home-btn {
  margin-left: 20px;
  padding: 8px 15px;
  border: 1px solid #000;
  background: white;
  cursor: pointer;
  border-radius: 5px;
}
.main-header h2 {
  text-align: center;
  flex: 1;
}


/* Layout */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

/* Left box */
.left-box { width: 50%; }

.delivery-btn {
  display: block;
  width: 200px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #000;
  border-radius: 8px;
  background: white;
}

/* Right box */
.right-box {
  width: 40%;
  border: 1px solid #000;
  padding: 15px;
  border-radius: 10px;
}

.order-item {
  display: flex;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.icon { width: 50px; margin-right: 10px; }

/* Footer ( SAME AS CART ) */
.site-footer {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 20px;
  margin-top: auto;
}

.footer-logo { width: 80px; }
.social-icon { width: 25px; margin-right: 10px; }
