body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header (same as cart) */
.main-header {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #f1f1f1;
}
.small-logo { width: 100px; margin-right: 10px; }

.home-btn {
  margin-left: 20px;
  padding: 8px 15px;
  border: 1px solid #000;
  background: white;
  cursor: pointer;
  border-radius: 5px;
}
.main-header h2 {
  text-align: center;
  flex: 1;
}


/* Layout */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

/* Left box */
.left-box { width: 50%; }

.delivery-btn {
  display: block;
  width: 200px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #000;
  border-radius: 8px;
  background: white;
}

/* Right box */
.right-box {
  width: 40%;
  border: 1px solid #000;
  padding: 15px;
  border-radius: 10px;
}

.order-item {
  display: flex;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.icon { width: 50px; margin-right: 10px; }

/* ---------------- FOOTER ---------------- */

.site-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px;
    background-color: darkgray;
    border-top: 2px solid #f0f0f0;
    margin-top: 40px;
    flex-wrap: wrap;
}

/* Column layout */
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Logo + Social section */
.footer-logo-social {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: flex-start;
}

.footer-logo-social .logo img {
    width: 85px;
    margin-bottom: 10px;
}

/* Social icons */
.nav-button {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #333232;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
}

.nav-button:hover {
    background-color: gray;
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease;
}

.nav-icon {
    width: 22px;
    height: 22px;
}

/* Footer Links */
.footer-links a {
    color: #333232;
    text-decoration: none;
    font-size: 16px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Responsive Footer */
@media (max-width: 750px) {
    .site-footer {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-logo-social {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        align-items: center;
    }
}

