/* Basic Reset */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.fp-page {
    width: 90%;
    max-width: 400px;
    padding: 40px 30px;
    background: white;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.farmly-header {
    margin-bottom: 30px;
}

.logo-header {
    font-size: 3em;
    line-height: 1;
}

.team-logo {
    display: block;
    max-width: 100px;
    height: auto;
    margin: 0 auto 10px;
}

.teamFarmly-title {
    font-size: 1.2em;
    margin: 0;
    letter-spacing: 2px;
    font-weight: bold;
    color: green;
}

.fp-tagline {
    font-size: 0.8em;
    margin: 0;
    color: grey;
}

.fp-form {
    text-align: left;
}

.fpform-heading {
    font-size: 1.1em;
    font-weight: normal;
    padding: 0px 20px;
    margin: 0 auto 30px;
    color: #337ab7;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
}

.fp-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    
}

.fp-field label {
    font-size: 1em;
    margin-right: 10px;
    white-space: nowrap;
}

.fp-field input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}

.fp-form button{
    display: block;
    margin: 20px auto 0;    
}

.fpsubmit-button{
    width: 50%;
    padding: 10px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}