body {
    margin: 0;
    font-family: "Comic Sans MS", cursive;
    background: white;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    gap: 40px;
    border-bottom: 2px solid white;
    box-shadow: 10px 10px whitesmoke;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 100px;
}

.brand-name {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.search-bar {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 16px;
    width: 200px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.icon-img {
    width: 28px;
    vertical-align: middle;
}

.cart, .profile {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
}

.order-box {
    width: 60%;
    margin: 40px auto 0 auto;  /* centers the box */
    border: 3px solid #444;
    border-radius: 30px;
    padding: 40px 60px;
    min-height: 450px;
}

.order-title {
    text-align: center;
    font-size: 22px;
    color: #555;
    margin-bottom: 40px;
}

.order-content {
    font-size: 20px;
    line-height: 2.4rem;
}

.thankyou {
    margin-top: 90px;
    text-align: center;
    font-size: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.btn {
    font-family: "Comic Sans MS", "Marker Felt", cursive;
    padding: 12px 30px;
    font-size: 18px;
    border: 2px solid #444;
    border-radius: 12px;
    background: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: #f0f0f0;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.continue {
    border-color: #4CAF50;
    color: #4CAF50;
}

.continue:hover {
    background: #4CAF50;
    color: white;
}

.cancel {
    border-color: #F44336;
    color: #F44336;
}

.cancel:hover {
    background: #F44336;
    color: white;
}
.continue a{
    text-decoration: none;
    color: inherit;
}

.site-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  background-color:darkgray;
  border-top: 2px solid #f0f0f0;
  margin-top: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-logo-social {
  display: flex;
  flex-direction: row;
}

.footer-column a {
  margin-bottom: 10px;
  color: #333232;
  text-decoration: none;
}

.footer-logo-social .logo {
  margin-bottom: 15px;
}

.social-icons a:hover {
  margin-right: 15px;
  display: inline-block;
  background-color: gray;
  transform: scale(1.05);
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  text-decoration: underline;

}
.user-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}
.nav-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  text-decoration: none;
}
.logo img {
  height: 110px;
  width: auto;
  display: block;
}
.site-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  background-color:darkgray;
  border-top: 2px solid #f0f0f0;
  margin-top: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-logo-social {
  display: flex;
  flex-direction: row;
}

.footer-column a {
  margin-bottom: 10px;
  color: #333232;
}

.footer-logo-social .logo {
  margin-bottom: 15px;
}

.social-icons a:hover {
  margin-right: 15px;
  display: inline-block;
  background-color: gray;
  transform: scale(1.05);
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  text-decoration: underline;
}