body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: #555;
}

/* Header start */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  border-bottom: 2px solid white;
  box-shadow: 10px 10px whitesmoke;
}

.logo img {
  height: 110px;
  width: auto;
  display: block;
}
.search-container {
  flex-grow: 1;
  margin: 0 40px;
}

.search-bar {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 8px;
}

.user-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.nav-button:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
}

.user-nav a {
  margin-left: 25px;
  font-size: 16px;
  font-weight: bold;
}

/* Header End */

.logo img {
    height: 50px;
}

nav a {
    margin: 0 12px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

nav a:hover {
    color: green;
}

.title {
    text-align: center;
    margin-top: 45px;
    font-size: 24px;
}

.container {
    width: 60%;
    margin: 30px auto;
}

.section-label {
    display: block;
    margin-top: 25px;
    font-weight: bold;
    font-size: 15px;
}

.form-group {
    margin-top: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 4px;
}

input[type="date"],
input[type="time"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #bbb;
}

.payment-options {
    margin-top: 15px;
    display: flex;
    gap: 25px;
}

/* Button Group */
.button-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.action-btn {
  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  width: 150px;
}

/* LOGIN Button Style */
.login-btn {
  background-color: transparent;
  border: 2px solid #4a90e2; /* Blue border */
  color: #4a90e2; /* Blue text */
}

.login-btn:hover {
  background-color: #e6f0fa; /* Light blue hover */
}
main {
    min-height: 70vh;
    padding: 20px 0;
}
/* footer Start */


.site-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  background-color: darkgray;
  border-top: 2px solid #f0f0f0;
  margin-top: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-logo-social {
  display: flex;
  flex-direction: row;
}

.footer-column a {
  margin-bottom: 10px;
  color: #333232;
}

.footer-logo-social .logo {
  margin-bottom: 15px;
}

.social-icons a:hover {
  margin-right: 15px;
  display: inline-block;
  background-color: gray;
  transform: scale(1.05);
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* footer End */
/* Button Styles */
